/*

!Hyper/
!PowerShell/
!Terminal/
!VSCode/
!alacritty/
!bottom/
!fish/
!home-manager/
!iterm2/
!lazygit/
!mise/
!nix/
!nushell/
!nvim
!oh-my-posh/
!starship/
!tabby/
!wezterm/
!zellij/
!zsh/
