layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children 
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    swap_floating_layout{
        floating_panes max_panes=1 {
            pane x="5%" y="5%" width="90%" height="90%"
        }
        floating_panes max_panes=2 {
            pane x="4%" y="5%" width="90%" height="45%"
            pane x="4%" y="51%" width="90%" height="45%"
        }
    }
    tab name="general" {
        pane
    }
    tab name="servers" {
        pane
        pane
    }
}
